/*
 Body (everything inherits from here)
 */
body {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	text-align: center;
	background: #E3CAA1;
	background-image: url('../images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 270%;
}

/* 
 Paragraphs
 */
p {
	font-size: 24px;
	text-align: left;
}

p.button_paragraph{
	text-align: center;
	margin: 6px;
}

/*
 Headings
 */
h1 {
	font-size: 2em;
	text-align: left;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	text-decoration: underline;
}

/*
 Images
 */
img.bottom_image {
	width: 100%;
	height: auto;
	max-height: 600px;
}

/* 
 Divs
 */
div.bottom_frame p {
	font-size: 12px;
	padding: 0px;
	margin: 2px;
	color: #F9F8F6;
}

div.container {
	background-image: url('../images/background.jpg');
	margin: 0 auto;
	padding: 0px;
	max-width: 1000px;
	min-width: 800px;
	overflow: hidden;
}

div.heading {
	background-position: center;
	background-repeat: no-repeat;
	background-color: #060227;
	background-size: 50%;
	text-align: center;
	width: 100%;
	height: 120px;
	margin: 0;
}

div.form_div {
	padding-right: 10px;
	padding-left: 10px;
}

div.bottom_frame {
	background-color: rgb(167,173,151);
	background-image: url('../images/grey_wash_wall.png');
	font-size: .7em;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.main_content {
	width: calc(100% - 160px);
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 10px;
	background-image: url('../images/lightpaperfibers.png');
	height: 100%;
	min-height: 600px;
	overflow: auto;
}

/*
 HTML5 Nav
 */
nav {
	margin: 0px;
	padding: 0px;
}

/*
 Lists
 */ 
ul {
	color: #F9F8F6;
	text-align: center;
	display: inline;
	margin: 0;
	width: 100%;
	padding: 0px;
	padding: 15px 0px 15px 0;
	list-style: none;
}

ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	width: 20%;
	margin-right: -4px;
	text-align: center;
	position: relative;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	/*
	background: #A4A1B2;
	*/
	background: rgb(102,102,102);
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 2;
}

li.active {
	background-color: #175EA1;
}

ul li:hover {
	background: #1E7CD5;
	color: #fff;
	z-index: 2;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-transition: opacity 0.3s;
	z-index: 2;
}

ul li ul li { 
	/*
	background: #75727F; 
	*/
	background: rgb(102,102,102);
	position: relative;
	padding-left: 20px;
	text-align: left;
	width: calc(100% - 20px);
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	z-index: 2;
}

ul li ul li:hover { 
	/*
	background: #5F5D67; 
	*/
	background: #1E7CD5;
	color: #fff;
	z-index: 2;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

/*
 Forms
 */
form.form {
	padding-left: 10px;
	padding-right: 10px;
}

fieldset{
	width: 100%;
	margin: 0 auto;
	border: none; 
	margin: 0px;
	padding: 0px;
}

fieldset p{
	clear: both;
	padding: 10px;
	padding-bottom: 0px;
}

/*
 Labels
 */
label.feild_label{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
	width: 40%;
	float: left;
	padding: 8px;
}

/*
 Inputs
 */
input.input_text{
	width: 50%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 20px;
	padding: 8px;
	float: left;
	text-align: left;
}

button.input_submit{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 24px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

input.select{
	width: 30%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	float: left;
	text-align: left;
}

textarea{
	resize: none;
	width: 100%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 24px;
	text-align: left;
	float: left;
}

/*
 JS
*/
ul.slidesjs-pagination{
	display: none;
}

a.slidesjs-navigation{
	color: black;
	text-decoration: none;
	padding: 5px;
	float: left
}

#slides {
	position: relative;
    display:none;
    z-index: 1;
}

label.error { 
	color: red; 
	padding-right: 100px;
	vertical-align: top; 
	display: block;
	clear: both;
	float: right;
}


